body {
}
.field-validation-error {
    color: red;
    display: block;
}

.Imagens .btn-imagem-excluir {
    width: 100% !important;
    margin-bottom: 30px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.Imagens div {
    text-align: center;
}
.Imagens .img-thumbnail {
    width: 100%;
}
.input-file {
    display: none;
}
.img-upload {
    cursor: pointer;
}