
@{
    ViewData["Title"] = "Login";
}
<main role="main">
    <br />
    <br />
    <section class="container">
        <aside class="col-sm-4">
            <h3 class="subtitle-doc">
                # Login form simple
                <a href="#" data-html="code_login_1" class="showcode">[code]</a>
            </h3>
            <div id="code_login_1">
                <div class="card">
                    <article class="card-body">
                        <a href="/Home/CadastroCliente" class="float-right btn btn-outline-primary">Sign up</a>
                        <h4 class="card-title mb-4 mt-1">Sign in</h4>
                        <form>
                            <div class="form-group">
                                <label>Your email</label>
                                <input name="" class="form-control" placeholder="Email" type="email">
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                <a class="float-right" href="#">Forgot?</a>
                                <label>Your password</label>
                                <input class="form-control" placeholder="******" type="password">
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                <div class="checkbox">
                                    <label> <input type="checkbox"> Save password </label>
                                </div> <!-- checkbox .// -->
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block"> Login </button>
                            </div> <!-- form-group// -->
                        </form>
                    </article>
                </div> <!-- card.// -->
            </div> <!-- code-wrap.// -->
        </aside>
    </section>
</main>
