@if (ViewData["MSG_E"] != null)
{
    <p class="alert alert-danger">@Html.Raw(ViewData["MSG_E"])</p>
}
@if (TempData["MSG_E"] != null)
{
    <p class="alert alert-danger">@Html.Raw(TempData["MSG_E"])</p>
}


@if (ViewData["MSG_S"] != null)
{
    <p class="alert alert-success">@Html.Raw(ViewData["MSG_S"])</p>
}
@if (TempData["MSG_S"] != null)
{
    <p class="alert alert-success">@Html.Raw(TempData["MSG_S"])</p>
}