@model Pedido
@{
    ViewData["Title"] = "Visualizar";
}
<br /><br />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <span>Situação</span>
            @Model.Situacao
            <h3>Dados pessoais</h3>
            <h3>Entrega</h3>
            <h3>Lista de produtos</h3>
        </div>
    </div>
</div>