@model LojaVirtual.Models.Cliente
@{
    ViewData["Title"] = "Alterar Senha";
}
<form method="post">
    <main role="main">

        <section class="container" style="margin-top: 50px">
            <div class="row">
                <aside class="col-sm-6">
                    <h3 class="subtitle-doc">
                        Alterar senha
                    </h3>
                    <div id="code_register_1">
                        <div class="card">
                            <header class="card-header">
                                <h4 class="card-title mt-2">Alterar senha</h4>
                            </header>
                            <article class="card-body">
                                @{ await Html.RenderPartialAsync("~/Views/Shared/_Mensagem.cshtml"); }
                                <div class="form-group">
                                    <label asp-for="Senha">Senha</label>
                                    <input class="form-control" asp-for="Senha" type="password">
                                    <span asp-validation-for="Senha"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ConfirmacaoSenha"></label>
                                    <input class="form-control" asp-for="ConfirmacaoSenha" type="password">
                                    <span asp-validation-for="ConfirmacaoSenha"></span>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block"> Salvar </button>
                                </div>
                            </article>
                        </div>
                    </div>
                </aside>
            </div>
        </section>
    </main>
</form>
