@model EnderecoEntrega
@{
    ViewData["Title"] = "Atualizar de endereço";
}
<form method="post">
    <main role="main">

        <section class="container" style="margin-top: 50px">
            <div class="row">
                <aside class="col-sm-6">
                    <h3 class="subtitle-doc">
                        Atualizar endereço
                    </h3>
                    <div id="code_register_1">
                        <div class="card">
                            <header class="card-header">
                                <h4 class="card-title mt-2">Atualizar</h4>
                            </header>
                            <article class="card-body">
                                @{ await Html.RenderPartialAsync("~/Views/Shared/_Mensagem.cshtml"); }
                                    <input type="hidden" asp-for="Id">
                                <div class="form-group">
                                    <label asp-for="Nome">Nome do endereço</label>
                                    <input type="text" asp-for="Nome" class="form-control" placeholder="">
                                    <span asp-validation-for="Nome"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CEP">CEP</label>
                                    <input type="text" asp-for="CEP" class="no-cep cep form-control" placeholder="">
                                    <span asp-validation-for="CEP"></span>
                                    <div class="alert alert-danger" style="display:none;"></div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Estado">Estado</label>
                                    <input type="text" asp-for="Estado" readonly="readonly" class="form-control" placeholder="">
                                    <span asp-validation-for="Estado"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Cidade">Cidade</label>
                                    <input type="text" asp-for="Cidade" readonly="readonly" class="form-control" placeholder="">
                                    <span asp-validation-for="Cidade"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Bairro">Bairro</label>
                                    <input type="text" asp-for="Bairro" readonly="readonly" class="form-control" placeholder="">
                                    <span asp-validation-for="Bairro"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Endereco">Endereço</label>
                                    <input type="text" asp-for="Endereco" class="form-control" placeholder="">
                                    <span asp-validation-for="Endereco"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Complemento">Complemento</label>
                                    <input type="text" asp-for="Complemento" class="form-control" placeholder="">
                                    <span asp-validation-for="Complemento"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Numero">Número</label>
                                    <input type="text" asp-for="Numero" class="form-control" placeholder="">
                                    <span asp-validation-for="Numero"></span>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block"> Salvar </button>
                                </div>
                            </article>
                        </div>
                    </div>
                </aside>
            </div>
        </section>
    </main>
</form>
