@model List<PedidoSituacaoStatus>
@{
    ViewData["Title"] = "Default";
}

<ul class="timeline" id="timeline">
    @foreach (var pedidoStatus in Model)
    {
        <li class="li @((pedidoStatus.Concluido) ? "complete" : "")">
            <div class="timestamp">
                <span class="date"> @pedidoStatus.Data  <span>
            </div>
            <div class="status">
                <h4> @pedidoStatus.Situacao </h4>
            </div>
        </li>
    }
</ul>
