
@{
    ViewData["Title"] = "Error404";
}
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>Error - 404 - Página não encontrada!</h1>
            <p>
                A página que você tentou acessar não existe!
                <br />
                <br />
                <a asp-action="Index" asp-controller="Home" class="btn btn-outline-primary">Volte a navegar</a>
            </p>
        </div>
        <div class="col-4">
            <img src="~/img/Error404.jpg" style="width:100%"  alt="Imagem que representa erro de página não encontrada" />
        </div>
    </div>
</div>