
@{
    ViewData["Title"] = "ErroGenerico";
}
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>Error - @ViewBag.StatusCode</h1>
            <p>
                @ViewBag.Mensagem
            </p>
        </div>
        <div class="col-4">
            <img src="~/img/ErrorGenerico.png" style="width:100%"  alt="Imagem de erro" />
        </div>
    </div>
</div>