body {
}
.field-validation-error {
    color: red;
    display: block;
}
.Imagens .col-md-2 {
    margin-bottom: 30px;
}
.Imagens .btn-imagem-excluir {
    width: 100% !important;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.Imagens .btn-ocultar {
    display: none;
}
.Imagens div {
    text-align: center;
}
.Imagens .img-thumbnail {
    width: 100%;
    border: none;
    height: 100%;
    object-fit: contain;
}
.Imagens .thumb {
    width: 64px;
}
.Imagens .container-img-thumbnail {
    width: 100%;
    height: 100%;
    max-height: 180px;
    border: 1px solid #CCC;
    border-radius: 4px 4px 0px 0px;
    
    white-space: nowrap;
    text-align: center;
    margin: 1em 0;
    margin-bottom: 0px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.Imagens .input-file {
    display: none;
}
.Imagens .img-upload {
    cursor: pointer !important;
    vertical-align: middle;
}
.Imagens input[name=imagem] {
    display: none;
}

/*
    CSS - Menu Multilevel Bootstrap 4
*/

.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover > a:after {
        border-left-color: #fff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }



.container-frete {
    text-align: center;
}
.control-inline {
    flex-wrap: nowrap;
}
.dlist-align dt {
    width: 65px;
}
.dlist-align dd {
    margin-left: 65px;
    text-align: left;
}

.btn-continuar, .btn-continuar-comprando {
    width: 100%;
    min-height: 70px;
    font-size: 36px;
}
.numero-pedido {
    font-size: 24px;
    font-weight: bold;
    border: 1px solid #2b7f1b;
    color: #2b7f1b;
    background-color: #c9eac3;
    border-radius: 5px;
    width: 250px;
    padding: 15px 10px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


.timeline {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.li {
    transition: all 200ms ease-in;
}

.timestamp {
    margin-bottom: 20px;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
}

.status {
    padding: 0px 40px;
    display: flex;
    justify-content: center;
    border-top: 2px solid #D6DCE0;
    position: relative;
    transition: all 200ms ease-in;
}

    .status h4 {
        font-weight: 600;
        font-size: 12px;
        margin-top: 15px;
    }

    .status:before {
        content: "";
        width: 25px;
        height: 25px;
        background-color: white;
        border-radius: 25px;
        border: 1px solid #ddd;
        position: absolute;
        top: -15px;
        left: 42%;
        transition: all 200ms ease-in;
    }

.li.complete .status {
    border-top: 2px solid #66DC71;
}

    .li.complete .status:before {
        background-color: #66DC71;
        border: none;
        transition: all 200ms ease-in;
    }

    .li.complete .status h4 {
        color: #66DC71;
    }

@media (min-device-width: 320px) and (max-device-width: 700px) {
    .timeline {
        list-style-type: none;
        display: block;
    }

    .li {
        transition: all 200ms ease-in;
        display: flex;
        width: inherit;
    }

    .timestamp {
        width: 100px;
    }

    .status:before {
        left: -8%;
        top: 30%;
        transition: all 200ms ease-in;
    }
}



.li.complete-red .status {
    border-top: 2px solid red;
}

    .li.complete-red .status:before {
        background-color: red;
        border: none;
        transition: all 200ms ease-in;
    }

    .li.complete-red .status h4 {
        color: red;
    }
