@model Categoria
@{
    ViewData["Title"] = "Categoria";
}
<br style="clear: both" />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <span id="breadcrumb">Categoria > @Model.Nome</span>
        </div>
    </div>
</div>



<vc:produto-listagem></vc:produto-listagem>