
<ul class="dropdown-menu">
    <li class="dropdown-item"><a href="#">4th level</a></li>
    <li class="dropdown-item"><a href="#">4th level</a></li>
    <li class="dropdown-submenu">
        <a class="dropdown-item" href="#">another level</a>
        <ul class="dropdown-menu">
            <li class="dropdown-item"><a href="#">5th level</a></li>
            <li class="dropdown-item"><a href="#">5th level</a></li>
            <li class="dropdown-item"><a href="#">5th level</a></li>
        </ul>
    </li>
</ul>