
@{
    ViewData["Title"] = "Error403";
}
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>Error - 403 - Acesso negado!</h1>
            <p>
                Opps! Você não tem permissão para acessar esta página!
            </p>
        </div>
        <div class="col-4">
            <img src="~/img/Error403.png" style="width:100%"  alt="Imagem de acesso negado!" />
        </div>
    </div>
</div>